
<form ><br><br>
    <input type="text" #x1 [value]="userarr.firstname">&nbsp;
    <input type="text" #x2 [value]="userarr.lastname">&nbsp;
    <input type="text" #x3 [value]="userarr.mobile">&nbsp;
    <input type="text" #x4 [value]="userarr.email">&nbsp;
    <input type="password" #x5 [value]="userarr.password"><br><br>
    <input type="text" #x6 [value]="userarr.dob">&nbsp;
    <input type="text" #x7 [value]="userarr.state">&nbsp;
    <input type="text" #x8 [value]="userarr.city">&nbsp;
    <input type="text" #x9 [value]="userarr.pincode"><br><br>
    <button type="button"(click)="update_record(x1,x2,x3,x4,x5,x6,x7,x8,x9)" >Update</button>
</form>



